node_modules
# Règles spécifiques pour Doctor-Appointment-Booking-Web-Nextjs
Doctor-Appointment-Booking-Web-Nextjs/node_modules
Doctor-Appointment-Booking-Web-Nextjs/.pnp
Doctor-Appointment-Booking-Web-Nextjs/.pnp.js
Doctor-Appointment-Booking-Web-Nextjs/.yarn/install-state.gz
Doctor-Appointment-Booking-Web-Nextjs/coverage/
Doctor-Appointment-Booking-Web-Nextjs/.next/
Doctor-Appointment-Booking-Web-Nextjs/out/
Doctor-Appointment-Booking-Web-Nextjs/build/
Doctor-Appointment-Booking-Web-Nextjs/.DS_Store
Doctor-Appointment-Booking-Web-Nextjs/*.pem
Doctor-Appointment-Booking-Web-Nextjs/npm-debug.log*
Doctor-Appointment-Booking-Web-Nextjs/yarn-debug.log*
Doctor-Appointment-Booking-Web-Nextjs/yarn-error.log*
Doctor-Appointment-Booking-Web-Nextjs/.env*.local
Doctor-Appointment-Booking-Web-Nextjs/.vercel
Doctor-Appointment-Booking-Web-Nextjs/*.tsbuildinfo
Doctor-Appointment-Booking-Web-Nextjs/next-env.d.ts

# Règles spécifiques pour doctor_admin_project
doctor_admin_project/.DS_Store
doctor_admin_project/.AppleDouble
doctor_admin_project/.LSOverride
doctor_admin_project/Icon
doctor_admin_project/.Spotlight-V100
doctor_admin_project/.Trashes
doctor_admin_project/._*
doctor_admin_project/*~
doctor_admin_project/Thumbs.db
doctor_admin_project/ehthumbs.db
doctor_admin_project/Desktop.ini
doctor_admin_project/$RECYCLE.BIN/
doctor_admin_project/*.cab
doctor_admin_project/*.msi
doctor_admin_project/*.msm
doctor_admin_project/*.msp
doctor_admin_project/*.7z
doctor_admin_project/*.csv
doctor_admin_project/*.dat
doctor_admin_project/*.dmg
doctor_admin_project/*.gz
doctor_admin_project/*.iso
doctor_admin_project/*.jar
doctor_admin_project/*.rar
doctor_admin_project/*.tar
doctor_admin_project/*.zip
doctor_admin_project/*.com
doctor_admin_project/*.class
doctor_admin_project/*.dll
doctor_admin_project/*.exe
doctor_admin_project/*.o
doctor_admin_project/*.seed
doctor_admin_project/*.so
doctor_admin_project/*.swo
doctor_admin_project/*.swp
doctor_admin_project/*.swn
doctor_admin_project/*.swm
doctor_admin_project/*.out
doctor_admin_project/*.pid
doctor_admin_project/.tmp
doctor_admin_project/*.log
doctor_admin_project/*.sql
doctor_admin_project/*.sqlite
doctor_admin_project/*.sqlite3
doctor_admin_project/*#
doctor_admin_project/ssl
doctor_admin_project/.idea
doctor_admin_project/nbproject
doctor_admin_project/public/uploads/*
!doctor_admin_project/public/uploads/.gitkeep
doctor_admin_project/lib-cov
doctor_admin_project/lcov.info
doctor_admin_project/pids
doctor_admin_project/logs
doctor_admin_project/results
doctor_admin_project/node_modules
doctor_admin_project/.node_history
doctor_admin_project/coverage
doctor_admin_project/.env
doctor_admin_project/license.txt
doctor_admin_project/exports
doctor_admin_project/.strapi
doctor_admin_project/dist
doctor_admin_project/build
doctor_admin_project/.strapi-updater.json
