node_modules
# Règles spécifiques pour Doctor-Appointment-Booking-Web-Nextjs
Doctor-Appointment-Booking-Web-Nextjs/node_modules
Doctor-Appointment-Booking-Web-Nextjs/.pnp
Doctor-Appointment-Booking-Web-Nextjs/.pnp.js
Doctor-Appointment-Booking-Web-Nextjs/.yarn/install-state.gz
Doctor-Appointment-Booking-Web-Nextjs/coverage/
Doctor-Appointment-Booking-Web-Nextjs/.next/
Doctor-Appointment-Booking-Web-Nextjs/out/
Doctor-Appointment-Booking-Web-Nextjs/build/
Doctor-Appointment-Booking-Web-Nextjs/.DS_Store
Doctor-Appointment-Booking-Web-Nextjs/*.pem
Doctor-Appointment-Booking-Web-Nextjs/npm-debug.log*
Doctor-Appointment-Booking-Web-Nextjs/yarn-debug.log*
Doctor-Appointment-Booking-Web-Nextjs/yarn-error.log*
Doctor-Appointment-Booking-Web-Nextjs/.env*.local
Doctor-Appointment-Booking-Web-Nextjs/.vercel
Doctor-Appointment-Booking-Web-Nextjs/*.tsbuildinfo
Doctor-Appointment-Booking-Web-Nextjs/next-env.d.ts

# Règles spécifiques pour BackEnd
BackEnd/.DS_Store
BackEnd/.AppleDouble
BackEnd/.LSOverride
BackEnd/Icon
BackEnd/.Spotlight-V100
BackEnd/.Trashes
BackEnd/._*
BackEnd/*~
BackEnd/Thumbs.db
BackEnd/ehthumbs.db
BackEnd/Desktop.ini
BackEnd/$RECYCLE.BIN/
BackEnd/*.cab
BackEnd/*.msi
BackEnd/*.msm
BackEnd/*.msp
BackEnd/*.7z
BackEnd/*.csv
BackEnd/*.dat
BackEnd/*.dmg
BackEnd/*.gz
BackEnd/*.iso
BackEnd/*.jar
BackEnd/*.rar
BackEnd/*.tar
BackEnd/*.zip
BackEnd/*.com
BackEnd/*.class
BackEnd/*.dll
BackEnd/*.exe
BackEnd/*.o
BackEnd/*.seed
BackEnd/*.so
BackEnd/*.swo
BackEnd/*.swp
BackEnd/*.swn
BackEnd/*.swm
BackEnd/*.out
BackEnd/*.pid
BackEnd/.tmp
BackEnd/*.log
BackEnd/*.sql
BackEnd/*.sqlite
BackEnd/*.sqlite3
BackEnd/*#
BackEnd/ssl
BackEnd/.idea
BackEnd/nbproject
BackEnd/public/uploads/*
!BackEnd/public/uploads/.gitkeep
BackEnd/lib-cov
BackEnd/lcov.info
BackEnd/pids
BackEnd/logs
BackEnd/results
BackEnd/node_modules
BackEnd/.node_history
BackEnd/coverage
BackEnd/.env
BackEnd/license.txt
BackEnd/exports
BackEnd/.strapi
BackEnd/dist
BackEnd/build
BackEnd/.strapi-updater.json
